body,a,li,ul,p,h2,h1,h2,h3,h4,h5,img{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    width:100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
#header{
    width:100%;
    background-image: url(img/hbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

      background-position: center 20px;
   
    .top-information{
    
        background-color: rgb(46, 46, 46);
        img{
        width:30px;
        height: 20px;
    }
    }
  
    h2{
        color:whitesmoke;
        font-family: 'Roboto';
        font-weight: 700;
        
        
    }
   
    p{
        color:whitesmoke;
        
    }
    .bgr-orange{
        background-color: orange;
    }
     span{
                color:orange;
         }
    
}
.text-box{
    h1,h2{
        font-weight: 500;
        text-transform: uppercase;
        
    } 
    h5{
        text-transform: uppercase;
    }
    .colorW{color:whitesmoke;}
    .colorB{color:rgb(46, 46, 46);}
    
   
    .shadowT{text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.6);
    }
     span{
                color:orange;
         }
    .alpha{
        opacity: 0.7;
    }
    
}
 .BgcolorBl{
       background-color:rgba(46,46,46,0.7);
    }
.BgcolorBlack{
       background-color:rgb(0, 0, 0);
    }
#inf-client{
background-image: url(img/bgt.jpg);

   
    
    p{ margin:1rem 0;
        text-transform: uppercase;
        font-weight: 100;
        line-height: 16px;
        
    }
  
}
.border-t{
        background-image: url(img/bordert.png);
        height:12px;
        width:100%;
         
    }
.border-b{
        background-image: url(img/borderta.png);
        height:15px;
        width:100%;
         background-color: black;
    }
 .wrap{
        background-image: url(img/borderta.png);
        
}
#telephone{
    background-color: orange;
}
#how-we-works{
    background-image: url(img/bgtb.jpg);
    p{
        font-size:1rem;
        margin-left:1rem;
        margin-top:auto;
        margin-bottom: auto;
    }
    .media img{
        width:65px;
        height: 65px;
    }
}
#footer{
    color:whitesmoke;
    a{
        color:orange;
        text-transform: uppercase;
    }
}
.line-top{
    border-top: 2px solid rgba(109, 109, 109, 0.42);
}
#shop{
    .rounded{
        width:300px;
        height:300px;
        border-radius: 300px;
    }
}